body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/images/site/background.jpg");
  background-repeat:repeat;
  opacity: 95%;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #06170e;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: auto;
  width: 300px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #BFEF88;
  text-decoration: none;
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #06170e;
  font-size: 16px;
  line-height: 30px;
  min-width: 100px;
  padding: 30px 30px 30px 30px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #06170e;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
  
.contact-info {
  margin: 5px 0;
  font-size: 14px;
  color: #BFEF88;
  text-align: center;
}
  
.contact-row {
  display: flex;
  font-size: 10px;
  color: #BFEF88;
  align-items: center;
}
  
.contact-row i {
  margin-right: 10px;
  color: #BFEF88;
}
  
.social-media {
  display: flex;
  justify-content: center;
  margin: 3px 0;
}
  
.social-media a {
  color: #BFEF88;
  display: inline-block;
  margin: 0 10px;
}
  
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  color: #BFEF88;
}
  
.footer-bottom p {
  margin: 0;
} 

.banner {
  text-align: center;
  background-image: url("images/site/cart-banner.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}

.banner h2 {
  font-size: 30px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}
  
.profile-menu {
  flex: 0 0 20%;
}
  
.profile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
.profile-menu li {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
  
.profile-menu li.active {
  background-color: #BFEF88;
  font-weight: bold;
  color: #000;
}
  
.profile-menu li a {
  color: #333;
  text-decoration: none;
}
  
.profile-info {
  background-color: #06170e;
  padding: 40px 40px 40px 40px;
  flex: 0 0 60%;
  margin: 0 0 0 50px;
}
  
.profile-info h2 {
  color: #BFEF88;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
  
.profile-info form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.profile-info label {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
  
.profile-info input[type="email"],
.profile-info input[type="text"],
.profile-info input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #D7F4D2;
}
  
.profile-info button[type="submit"] {
  background-color: #79DC78;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 525px;
  margin-right: 525px;
  cursor: pointer;
}
  
.profile-info button[type="submit"]:hover {
  background-color: #BFEF88;
}